.stories-page {
  padding-top: 70px;
}
.stories-page__story-text {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 2;
  text-align: center;
  width: 882px;
  margin: 0 auto;
  max-width: 100%;
}
.stories-page__cont--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 75px 90px;
  padding: 85px 0;
}
.stories-page__item__title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 1.5;
  width: 343px;
  max-width: 100%;
  margin-bottom: 25px;
}
.stories-page__item__image img {
  width: 100%;
}
.stories-page__item__read-more {
  font-size: 20px;
  text-align: right;
  text-decoration: underline;
  margin-top: 5px;
}